.contenedor-imagen {
    margin: 0 auto;
    width: 80%;
}

.body-imagen{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}

.botones {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}